body  {
	background: url('../images/books3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.up_links{border: 1px solid black; border-radius: 15px; font-weight:bold; font-size: 1.42em; padding-right:50px;
padding-left:50px; margin-top: 10px;    

}

.uplink_container {
	float: left;
	width: 200px;
}

#search{
	float:right; 
	color:484848; 
	margin-right: 10px;
	margin-top: 0;   

}

#login-over{
	color:#003366; 
	margin-left: 20px;
}

#market{
	color:#CC3300; 
	margin-left: 80px;
}

#books{
color:#33CC00;
margin-left: 80px;

}

#login {
	display: none; 
	border: solid #707070 4px; 
	margin: 5px; 
	color: #0099CC; 
	font-weight: bold
	width: 100px;
	
}


#cateTable {
   	border: 4px solid #707070;
    height: 200px;
    padding: 10px;
	font-size: 16;
	font-weight: normal;
	position: absolute;
	display: none;
 	margin-left: 300px;
	width: 200px;
	
}

#div1{
	float:left;
}

#div2{
	float:right;
}

#test {
	display: none;
}
.writepost
{
background-color:blue;
position:absolute;
top:75%;
left:20%;
}

