h1{font-family:"Arial";font-style:italic; font-size:30px;color:#1a25d1;}
h2{font-family:"Arial";font-size:25px;color:#441ad1;}
h4{font-family:"Arial";font-size:25px;color:#841ad1;}
a{font-family:"Arial";font-size:25px;color:#ba1ad1;}
span{font-family:"Arial";font-size:25px;color:#d11a9f;}
.imgomri{ margin-left:33% ;}


