h1{font-family:"Tahoma";font-style:italic; font-size:30px;color:#FAEBD7;}
h2{font-family:"Tahoma";font-style:italic; font-size:30px;color:#FAEBD7;}
h3{font-family:"Tahoma";font-style:italic; font-size:30px;color:#FAEBD7;}
h4{font-family:"Tahoma";font-style:italic; font-size:20px;color:#0000FF;}
h5{font-family:"Tahoma";font-style:italic; font-size:20px;color:#0000FF;}
h6{font-family:"Tahoma";font-style:italic; font-size:20px;color:#0000FF;}


