<html>
<head>
<link rel="stylesheet" type= "text/css"
href="homePage.css">
	
</head>
<body> 
 <div>
	<span id ='login'>
		<input type="button" value="login" >
		
	</span>
	<span id ="books" style = "border: 1px solid black">
		books

	</span>
	<span id ="catagories" style = "border: 1px solid black">
		catagories

	</span>
	<span id ="profile" style = "border: 1px solid black">
		profile
		
	</span>
	</span>
	<span id ="market" style = "border: 1px solid black">
		market
		
	</span>
	<span id ='search' style = "border: 1px solid black; margin: 10">
		search:<input type="search">
	</span>
</div>	







</body>
</html>
