<html>
<head>

<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/base.css">
<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/base.js"></script> 

<title>  {% block title %} {% endblock %}</title>
{% block header %}
{% endblock header %}
</head>

<body link = "green" alink = "green" vlink = "green"> 

<img src="{{ STATIC_URL }}images/Logo.png" width="438" height="72" alt="Books 4 all" />



<hr>
{% if user.is_authenticated %}
<div style = "float:left">
<form action = "/submitlogout" method = "post">
{% csrf_token %}
	<input type = "submit" value = "Logout" style = "border-radius: 27px">
</form> {% endif %}
{% if user.is_authenticated %}
<div>
	<span class = "up_links" id ="profile">
		Profile
	</span>
{% else %}
<div>
	<div id="login_container" class="uplink_container">
	<span class = "up_links" id ="login-over">
		Login
	</span>
	<table id = "login">
	<form action = "/submitlogin" method = "post">
		{% csrf_token %}
		<tr><td>Email:</td>   
			<td><input type = "text" name = "email"></td>
		</tr>
		<tr><td >Password: </td>    
			<td><input type = "password" name = "password"></td>
		</tr>
		<tr><td><input type = "submit" value = "Login" style = "border-radius: 27px"></td>
	</form>
			<td><a href = "/signup" name = "sign up">Sign Up </a></td>
		</tr>
	</table>
	</div>
{% endif %}
	<span class = "up_links" id ="books">
		Books
	</span>
	<span class = "up_links" id ="market">
   		Market
	</span>
	<span class = "up_links" id ="search">
		<form><right>Search: <input type="search" name = "search"> <input type = "submit" value = "GO"></right></form>
	</span>
</div>
	
<br>
<table id = "cateTable">
	<tr><td><a class = "categories" href = "categories/Latest" name = "latest">Latest </a></td>
		<td><a class = "categories" href = "categories/MostRead" name = "most read">Most Read </a></td>
	</tr>
	<tr><td><a class = "categories" href = "categories/Scifi" name = "sci-fi">Sci-Fi </a></td>
		<td><a class = "categories" href = "categories/Kids" name = "kids">Kids </a></td>
	</tr>
	<tr><td><a class = "categories" href = "categories/Romance" name = "romance">Romance </a></td>
		<td><a class = "categories" href = "categories/Horror" name = "horror">Horror </a></td>
	</tr>
	<tr><td><a class = "categories" href = "categories/Comics" name = "comics">Comics </a></td>
		<td><a class = "categories" href = "categories/Biography" name = "biography">Biography </a></td>
	</tr>
	<tr><td><a class = "categories" href = "categories/fantasy" name = "fantasy">Fantasy </a></td>
		<td><a class = "categories" href = "categories/History" name = "history">History </a></td>
	</tr>
</table>


{% block content %}

   

{% endblock %}

</body>
</html>
