<html>
<head>

<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/base.css">
<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/base.js"></script> 

<title>  {% block title %} {% endblock %}</title>

{% block headers %}

 {% endblock %}


</head>

<body link = "green" alink = "green" vlink = "green"> 

<img src="{{ STATIC_URL }}images/Logo.png" width="438" height="72" alt="Books 4 all" />



<hr>
{% if user.is_authenticated %}
<div style = "float:right">
<form action = "/submitlogout" method = "post">
{% csrf_token %}
	<input type = "submit" value = "Logout" style = "border-radius: 27px">
</form> {% endif %}</div>
{% if user.is_authenticated %}
<div>
	<span class = "up_links" id ="profile">
		<a href = "/profile">Profile</a>
	</span>
{% else %}
<div>
	<div id="login_container" class="uplink_container">
	<span class = "up_links" id ="login-over">
		Login
	</span>
	<table id = "login">
	<form action = "/submitlogin" method = "post">
		{% csrf_token %}
		<tr><td>Email:</td>   
			<td><input class="login_field" id="email_field" type = "text" name = "email"></td>
		</tr>
		<tr><td >Password: </td>    
			<td><input class="login_field" type = "password" name = "password"></td>
		</tr>
		<tr><td><input type = "submit" value = "Login" style = "border-radius: 27px"></td>
	</form>
			<td><a href = "/signup" name = "sign up">Sign Up </a></td>
		</tr>
	</table>
	</div>
{% endif %}
	<span class = "up_links" id ="books">
		Books
		<div id = "cateTable">
			<div id= "div1">
			
				
				<p><a class = "categories" href = "/categories/latest" name = "latest">Latest </a></p>
				{% for genre in genres1 %}
				<p><a class = "categories" href = "/categories/{{genre.name}}" name = "{{genre.name}}">{{genre.name}} </a></p>
				{% endfor %}
			</div>
			<div id = "div2">
				<p><a class = "categories" href = "/categories/mostRead" name = "most read">Most Read </a></p>
				{% for genre in genres2 %}
				<p><a class = "categories" href = "/categories/{{genre.name}}" name = "{{genre.name}}">{{genre.name}} </a></p>
				{% endfor %}

			</div>
		</div>
		<!--<span id="test" style="border: 1px solid black;">test</span>-->
	</span>
	<span class = "up_links" id ="market">
   		Market
	</span>
	<span class = "up_links" id ="search">
		<form><right>Search: <input type="search" name = "search"> <input type = "submit" value = "GO"></right></form>
	</span>
</div>

<br><br>

{% block content %}

   

{% endblock %}

</body>
</html>
