{% extends 'books/base.html' %}

{% block title %}


{{book.author}} - {{book.name}}
{% endblock %}
{% block headers %}
<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/bookpage.css">
{% endblock headers %}

{% block content %}

<br></br><br></br><br></br>
<img src="{{ STATIC_URL }}images/{{book.cover}}
" class="bookImg">

<br><br>
<center><div id = "info">
<h1><center> {{book.name}}</center></h1>
<h2><center> {{book.author}}  </center></h2>
<h4><center> {{book.year}}</center></h4>
<h5><center>Rating: {{avg}}<center></h5>
<h5 > <center>{{book.genre}} book:</center></h5>



<span id="summary"> <center> {{book.summary}}</center> </span></div></center>



{% if user.is_authenticated %}
{%if not rated%}
<div id="rateRead">
<form action="/{{book.name}}/submitrating" method="post">

{% csrf_token %}

<input id="readThis" type = "checkbox" name= "read" value="read">alredy read this book
<input id="AddToReadList" type = "checkbox" name= "readListAdd" value="readListAdd">add to read list
<table class="rate">

<tr><td><input id = "1star" type = "radio" name= "star" value="1">one star</td></tr> 
<tr><td><input id = "2star" type = "radio" name= "star" value="2">two star</td></tr> 
<tr><td><input id = "3star" type = "radio" name= "star" value="3">three star</td></tr> 
<tr><td><input id = "4star" type = "radio" name= "star" value="4">four star</td></tr> 
<tr><td><input id = "5star" type = "radio" name= "star" value="5">five star</td></tr> 
<tr><td><input id = "6star" type = "radio" name= "star" value="6">six star</td></tr> 
<tr><td><input id = "7star" type = "radio" name= "star" value="7">seven star</td></tr> 
<tr><td><input id = "8star" type = "radio" name= "star" value="8">eight star</td></tr> 
<tr><td><input id = "9star" type = "radio" name= "star" value="9">nine star</td></tr>
<tr><td><input id = "10star" type = "radio" name= "star" value="10">ten star</td></tr>
<td><tr><input type="submit" value="Submit"></tr></td>
</table>
</form>
</div>

{% endif %}

{% endif %}

{% endblock %}



