{% extends 'books/base.html' %}

{% block header %}

<meta name="keywords" content="category, genre, books">

<meta name="description" content="category page">

<meta name="author" content="Team Gr8">

<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/categorypage.css">

{% endblock %}

{% block content %}

  {% if genre %}
    <div id="category" class="Title">
      <h1 id="{{ genre_name }}">{{ genre_name }}</h1>  
    </div>
  {% else %}
    <p>There aren't any genres </p>
  {% endif %}
  {% if books %}
    <div id="books">
      {% for book in books %}
        <div>
	  <span class="bookcover"><img src="{{ STATIC_URL }}images/{{book.cover}}" width="270" height="370" alt="{{book.cover}}" />
	</span>
	<span class="bookName">{{book.name}}</span>
	  
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p> No books <p>
  {% endif %}


{% endblock %}
