<html>
<head>
<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/homePage.css">
<img src="{{ STATIC_URL }}images/Logo.png" width="438" height="72" alt="Books 4 all" /></a>
</head>

<body> 
<hr>
 <div>
	<span class = "up_links" id ="login-over">
		Login
	</span>
		
	<span class = "up_links" id ="books">
		Books
	</span>
	<span class = "up_links" id ="market">
   		Market
	</span>
	<span class = "up_links" id ="search">
		<form>Search: <input type="search" name = "search"> <input type = "submit" value = "GO"> 			</form>
	</span>
</div>	
	<table id = "login">
		<tr><td>Email:</td>   <td><input type = "text" name = "email"></td> </tr>
		<tr><td>Password: </td>    <td><input type = "password" name = "password"></td></tr>
		<tr><td><a href = "signUp.html" name = "sign up">Sign Up </a></td></tr>
		</table>
		
	

<br>
<div id = "books" style = "border: 1px soild black">
	<a href = "categories/latest" name = "latest">Latest </a><br>
	<a href = "categories/mostRead" name = "most read">Most Read </a><br>
	<a href = "categories/sciFi" name = "sci-fi">Sci Fi </a><br>
	<a href = "categories/kids" name = "kids">Kids </a><br>
	<a href = "categories/romance" name = "romance">Romance </a><br>
	<a href = "categories/horror" name = "horror">Horror </a><br>
	<a href = "categories/comics" name = "comics">Comics </a><br>
	<a href = "categories/biography" name = "biography">Biography </a><br>
	<a href = "categories/fantasy" name = "fantasy">Fantasy </a><br>
	<a href = "categories/history" name = "history">History </a>
</div>

</body>
</html>
