<html>
<head>
<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/homePage.css">
<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}js/homepage.js"></script> 
<img src="{{ STATIC_URL }}images/Logo.png" width="438" height="72" alt="Books 4 all" /></a>
</head>

<body link = "green"> 
<hr>
 <div>
	<span class = "up_links" id ="login-over">
		Login
	</span>
		
	<span class = "up_links" id ="books">
		Books
	</span>
	<span class = "up_links" id ="market">
   		Market
	</span>
	<span class = "up_links" id ="search">
		<form>Search: <input type="search" name = "search"> <input type = "submit" value = "GO"> 			</form>
	</span>
</div>	
<table id = "login">
	<tr><td>Email:</td>   <td><input type = "text" name = "email"></td> </tr>
	<tr><td >Password: </td>    <td><input type = "password" name = "password"></td></tr>
	<tr><td><form><input type = "submit" value = "login" name = "login" style = "border-radius: 27px"></form> </td>
		<td><a href = "signUp.html" name = "sign up">Sign Up </a></td></tr>
</table>
<br>
<table id = "cateTable" style = "margin-left: 25%; margin-top: -10%">
	<tr><td><a class = "categories" href = "categories/latest" name = "latest">Latest </a></td><td><a class = "categories" href = "categories/mostRead" name = "most read">Most Read </a></td></tr>
	<tr><td><a class = "categories" href = "categories/sciFi" name = "sci-fi">Sci-Fi </a></td><td><a class = "categories" href = "categories/kids" name = "kids">Kids </a></td></tr>
	<tr><td><a class = "categories" href = "categories/romance" name = "romance">Romance </a></td><td><a class = "categories" href = "categories/horror" name = "horror">Horror </a></td></tr>
	<tr><td><a class = "categories" href = "categories/comics" name = "comics">Comics </a></td><td><a class = "categories" href = "categories/biography" name = "biography">Biography </a></td></tr>
	<tr><td><a class = "categories" href = "categories/fantasy" name = "fantasy">Fantasy </a></td><td><a class = "categories" href = "categories/history" name = "history">History </a></td></tr>
</table>

</body>
</html>
