{% extends 'books/base.html' %}
{% block title %}
Books 4 All - Welcome
{% endblock %}


{% block headers %}

<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/market.css">


{% endblock %}

{% block content %}

  <form action="write your comment.... " method="post" id= "writepost" >
{%csrf_token%}

 <left> <div id="input" > 
<table border="3" >
 <tr>
<th>write a post! </th>
<tr> 
<th> </th> <th> <textarea style="resize: none;" rows= "3" cols ="35" name ="noy" placeholder ="write a post" > </textarea>
</th><br>
</table> <input class="done" type="submit" value ="post!" />
</div> </left>

</form>

{% endblock %}



