{% extends 'books/base.html' %}
{% block title %}
Forum
{% endblock %}


{% block headers %}

<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/market.css">


{% endblock  %}

{% block content %}

{% if user.is_authenticated %}

  <form action="addComment" method="post" id= "writepost" >
{%csrf_token%}

 <left> <div id="input" > 
<table border="3" >
 <tr>
<th>write a post! </th>
<tr> 
<input type="hidden" value="{{ user }}">
<th> </th> <th> <textarea name="comment" style="resize: none;" rows= "3" cols ="35" name ="noy" placeholder ="write a post" > </textarea>
</th><br>
</table> <button type="submit" value="Submit">Post</button>
</div> </left>

</form>
{% endif %}

<div id="comments">
{% for comment in comments %}
User - {{ comment.profile.name }}<br>
Comment - {{ comment.comment }}<br>
<br><br>
{% endfor %}
</div>




{% endblock %}



