{% extends 'books/base.html' %}

{% block title %}
{{profile.user.first_name}} {{profile.user.last_name}}
{% endblock %}


{% block headers %}
<link rel="stylesheet" type= "text/css"
href="{{ STATIC_URL }}css/profile.css">
{% endblock %}


{% block content %}

<h1 id="name"> {{profile.user.first_name}} {{profile.user.last_name}} </h1>

{% if profile.photo %}
	<img src = "{{profile.photo}}">

{% endif %}


{% if ratings %}
<h2> books rated </h2>

 {% for rating in ratings %}
	<div class="rates"> <h4>{{rating.book.name}}<br></h4> <img src = "{{ STATIC_URL }}images/{{ rating.book.cover }}"><br>
	<h5> at {{rating.date_added}}<br></h5>
	<h3>Rating: {{rating.rating}}</h3>
			
 </div>
	{% endfor %}
{% endif %} 
{% endblock %}
