div.bookName{
	
	font-weight:bold;
	font-size:40px;
	color:black;
	margin:30px;
	position:relative;
	left:300px;
	top:-400px;
	text-transform:capitalize;
	

}

div.bookCover{

	margin:30px;

}

div#Book{
	

	width:900px;

}


body  {
    background-image: url('../images/books3.jpg');
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
}

